@font-face {
  font-family: 'SolaimanLipi';
  src: url('/fonts/Solaimanlipi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'SolaimanLipi', sans-serif;
  font-size: 14px;
}